@tailwind base;
@tailwind components;
@tailwind utilities;

.spacer {
  aspect-ratio: 960/300;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.invert {
  filter: invert(99%) sepia(0%) saturate(1912%) hue-rotate(12deg) brightness(90%) contrast(73%);
}